$color-primary: #eee;
$color-secondary: #000;

$color-grey-1: #555;
$color-grey-2: #999;
$color-grey-3: #eee;

$padding-left-right-big: 10rem;
$padding-left-right-mid: 8rem;
$padding-left-right-small: 5rem;

@include respond(phone) {
}

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
