.about-grid {
  display: grid;
  grid-auto-rows: 35rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 3rem;

  @media only screen and (max-width: 48.9em) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  & .cell {
    width: 100%;
    height: 100%;

    &--desc {
      & .paragraph {
        font-size: 2.5rem;
        font-weight: 300;

        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }

    &--composition {
      position: relative;
      z-index: 1;
      transition: transform 0.3s;

      & .overlay {
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: right center;
        background-color: $color-grey-3;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      & .composition--img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
      }

      & .composition--gif {
        width: 15rem;
        position: absolute;
        top: 0;
        transform: translate(-0%, -20%) scale(1);
        opacity: 0;
        transform-origin: bottom;
        transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
        z-index: 10;

        &--right {
          right: 0;
        }

        &--left {
          left: 0;
        }
      }

      & figcaption {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color-grey-3, 0.7);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
          color: $color-secondary;
          font-weight: 300;
          font-size: 3.5rem;
          letter-spacing: 0.3rem;
          text-transform: uppercase;

          @include respond(tab-port) {
            font-size: 2.5rem;
          }
        }
      }

      &:hover {
        transform: scale(1.01);

        .composition--gif {
          opacity: 1;
          animation: hideGif 0.1s linear 5s forwards;

          &--right {
            transform: translate(40%, -30%) scale(1);

            @include respond(phone) {
              transform: translate(20%, -30%) scale(1);
            }
          }

          &--left {
            transform: translate(-40%, -30%) scale(1);

            @include respond(phone) {
              transform: translate(-20%, -30%) scale(1);
            }
          }
        }
      }
    }
  }
}
