.services-composition {
  display: flex;
  margin-bottom: 2rem;

  &--right {
    justify-content: flex-end;
  }

  @include respond(phone) {
    margin-bottom: 0rem;
    flex-direction: column;
  }

  & .composition {
    padding: 3rem;
    width: 34rem;
    height: 25rem;
    border: 1px solid $color-grey-2;
    position: relative;
    transition: background-color 0.2s, transform 0.3s;

    &__figure {
      width: 6rem;
    }

    &__gif {
      width: 15rem;
      position: absolute;
      top: 0;
      transform: translate(-0%, -20%) scale(1);
      opacity: 0;
      transform-origin: bottom;
      z-index: 1;
      transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;

      &--right {
        right: 0;
      }

      &--left {
        left: 0;
      }
    }

    & p {
      font-weight: 300;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      transform: scale(1.01);
      background-color: rgba($color-grey-2, 0.1);

      .composition__gif {
        opacity: 1;

        &--right {
          transform: translate(60%, -30%) scale(1);

          @include respond(phone) {
            transform: translate(20%, -30%) scale(1);
          }
        }

        &--left {
          transform: translate(-60%, -30%) scale(1);

          @include respond(phone) {
            transform: translate(-20%, -30%) scale(1);
          }
        }
      }
    }

    @include respond(phone) {
      margin-bottom: 2rem;
      height: auto;
      width: 100%;
    }
  }
}
