.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-center-section {
  padding-left: $padding-left-right-big;
  padding-right: $padding-left-right-big;

  @include respond(tab-port) {
    padding-left: $padding-left-right-mid;
    padding-right: $padding-left-right-mid;
  }

  @include respond(phone) {
    padding-left: $padding-left-right-small;
    padding-right: $padding-left-right-small;
  }

  @include respond(sm-phone) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.u-color-white {
  color: $color-grey-3;
}
